<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moving Box Tracker</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Moving Box Tracker</h1>
  <ul class="allBoxes">
    <% for(let i = 0; i < info.length; i++){%>
    <ol class="box">
      <h2>Box <%=info[i].name%> </h2>
      <% for(let j = 0; j < info[i].length; j++){%>
        <li class="boxItem">
          <span><%= info[i][j].name %></span>
          <span><%= info[i][j].count %></span>
        </li>
      <%} %>
      <form action="/additem/<%=i+1%>" method="POST">
        <input type="text" name="name" placeholder="New item">
        <input type="text" name="count" placeholder="0">
        <input type="submit">
      </form>
        <input class="deleteBoxButtons" id="box<%=i+1%>" type="submit" value="Delete Box <%=i+1%>">
      
    </ol>
    </ol>
      <%} %>

    

  </ul>
  <form action="/createBox" method="POST">
    <input type="text" name="name" placeholder="Box Name">
    <input type="submit" value="Create New Box">
  </form>

  

  <script src="js/main.js"></script>
</body>
</html>